<nav class="menu">
  <ul>
    <li><%= link_to "Home", root_path %></li>
    <%# <li><a href="#">About</a></li> %>
    <%# <li><a href="#">Contact</a></li> %>
    <% if logged_in? %>
      <li>Logged in as <%= current_user.name %> 
      <%= link_to "LOG OUT", logout_path, method: "post" %></li>
    <% else %>
      <li><%= link_to "Log in", login_path %></li>
    <% end %>
  </ul>
</nav>
